ACWebsite/App_WebReferences/WapACService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="Air Calculator" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="Air Calculator" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="Air Calculator">
      <s:element name="AClogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ACloginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ACloginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ACNumeric">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="command" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ACNumericResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ACNumericResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ACSymbolic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="expression" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ACSymbolicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ACSymbolicResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ACImage3D">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expression" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="axisx" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="axisy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="grid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filetype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ACImage3DResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ACImage3DResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ACImage2D">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expression" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="axisx" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gridx" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filetype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ACImage2DResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ACImage2DResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ACProgram">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="funcbody" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="format" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inputdescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="outputdescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="example" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ACProgramResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ACProgramResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ACUpdateVar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="varlist" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ACUpdateVarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ACUpdateVarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ACUpdateHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="historylist" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ACUpdateHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ACUpdateHistoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SymbolCalc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="expression" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SymbolCalcResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SymbolCalcResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ACloginSoapIn">
    <wsdl:part name="parameters" element="tns:AClogin" />
  </wsdl:message>
  <wsdl:message name="ACloginSoapOut">
    <wsdl:part name="parameters" element="tns:ACloginResponse" />
  </wsdl:message>
  <wsdl:message name="ACNumericSoapIn">
    <wsdl:part name="parameters" element="tns:ACNumeric" />
  </wsdl:message>
  <wsdl:message name="ACNumericSoapOut">
    <wsdl:part name="parameters" element="tns:ACNumericResponse" />
  </wsdl:message>
  <wsdl:message name="ACSymbolicSoapIn">
    <wsdl:part name="parameters" element="tns:ACSymbolic" />
  </wsdl:message>
  <wsdl:message name="ACSymbolicSoapOut">
    <wsdl:part name="parameters" element="tns:ACSymbolicResponse" />
  </wsdl:message>
  <wsdl:message name="ACImage3DSoapIn">
    <wsdl:part name="parameters" element="tns:ACImage3D" />
  </wsdl:message>
  <wsdl:message name="ACImage3DSoapOut">
    <wsdl:part name="parameters" element="tns:ACImage3DResponse" />
  </wsdl:message>
  <wsdl:message name="ACImage2DSoapIn">
    <wsdl:part name="parameters" element="tns:ACImage2D" />
  </wsdl:message>
  <wsdl:message name="ACImage2DSoapOut">
    <wsdl:part name="parameters" element="tns:ACImage2DResponse" />
  </wsdl:message>
  <wsdl:message name="ACProgramSoapIn">
    <wsdl:part name="parameters" element="tns:ACProgram" />
  </wsdl:message>
  <wsdl:message name="ACProgramSoapOut">
    <wsdl:part name="parameters" element="tns:ACProgramResponse" />
  </wsdl:message>
  <wsdl:message name="ACUpdateVarSoapIn">
    <wsdl:part name="parameters" element="tns:ACUpdateVar" />
  </wsdl:message>
  <wsdl:message name="ACUpdateVarSoapOut">
    <wsdl:part name="parameters" element="tns:ACUpdateVarResponse" />
  </wsdl:message>
  <wsdl:message name="ACUpdateHistorySoapIn">
    <wsdl:part name="parameters" element="tns:ACUpdateHistory" />
  </wsdl:message>
  <wsdl:message name="ACUpdateHistorySoapOut">
    <wsdl:part name="parameters" element="tns:ACUpdateHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="SymbolCalcSoapIn">
    <wsdl:part name="parameters" element="tns:SymbolCalc" />
  </wsdl:message>
  <wsdl:message name="SymbolCalcSoapOut">
    <wsdl:part name="parameters" element="tns:SymbolCalcResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="AClogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">用户登录接口(必须先登录才能使用其它服务，用户:gcy,密码:123)</wsdl:documentation>
      <wsdl:input message="tns:ACloginSoapIn" />
      <wsdl:output message="tns:ACloginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ACNumeric">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">数值计算</wsdl:documentation>
      <wsdl:input message="tns:ACNumericSoapIn" />
      <wsdl:output message="tns:ACNumericSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ACSymbolic">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">符号计算</wsdl:documentation>
      <wsdl:input message="tns:ACSymbolicSoapIn" />
      <wsdl:output message="tns:ACSymbolicSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ACImage3D">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">3D函数绘图</wsdl:documentation>
      <wsdl:input message="tns:ACImage3DSoapIn" />
      <wsdl:output message="tns:ACImage3DSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ACImage2D">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">2D函数绘图</wsdl:documentation>
      <wsdl:input message="tns:ACImage2DSoapIn" />
      <wsdl:output message="tns:ACImage2DSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ACProgram">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">用户自定义函数,其中type=0，表示共享函数,type=1,表示私有函数</wsdl:documentation>
      <wsdl:input message="tns:ACProgramSoapIn" />
      <wsdl:output message="tns:ACProgramSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ACUpdateVar">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新变量</wsdl:documentation>
      <wsdl:input message="tns:ACUpdateVarSoapIn" />
      <wsdl:output message="tns:ACUpdateVarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ACUpdateHistory">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新历史</wsdl:documentation>
      <wsdl:input message="tns:ACUpdateHistorySoapIn" />
      <wsdl:output message="tns:ACUpdateHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SymbolCalc">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">符号计算:</wsdl:documentation>
      <wsdl:input message="tns:SymbolCalcSoapIn" />
      <wsdl:output message="tns:SymbolCalcSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AClogin">
      <soap:operation soapAction="Air Calculator/AClogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ACNumeric">
      <soap:operation soapAction="Air Calculator/ACNumeric" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ACSymbolic">
      <soap:operation soapAction="Air Calculator/ACSymbolic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ACImage3D">
      <soap:operation soapAction="Air Calculator/ACImage3D" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ACImage2D">
      <soap:operation soapAction="Air Calculator/ACImage2D" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ACProgram">
      <soap:operation soapAction="Air Calculator/ACProgram" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ACUpdateVar">
      <soap:operation soapAction="Air Calculator/ACUpdateVar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ACUpdateHistory">
      <soap:operation soapAction="Air Calculator/ACUpdateHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SymbolCalc">
      <soap:operation soapAction="Air Calculator/SymbolCalc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AClogin">
      <soap12:operation soapAction="Air Calculator/AClogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ACNumeric">
      <soap12:operation soapAction="Air Calculator/ACNumeric" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ACSymbolic">
      <soap12:operation soapAction="Air Calculator/ACSymbolic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ACImage3D">
      <soap12:operation soapAction="Air Calculator/ACImage3D" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ACImage2D">
      <soap12:operation soapAction="Air Calculator/ACImage2D" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ACProgram">
      <soap12:operation soapAction="Air Calculator/ACProgram" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ACUpdateVar">
      <soap12:operation soapAction="Air Calculator/ACUpdateVar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ACUpdateHistory">
      <soap12:operation soapAction="Air Calculator/ACUpdateHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SymbolCalc">
      <soap12:operation soapAction="Air Calculator/SymbolCalc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>